@mixin btn {
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1.5rem 2.75rem;
    transition: all 500ms ease-in-out;
    outline: none;
}

@mixin pseudo($center: false) {
    content: "";
    position: absolute;
    display: block;
    @if $center {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.btn {
    &--pear {
        /*
         ** PEAR **
        */
        @include btn();
        text-transform: uppercase;
        border-radius: 5px;
        background: linear-gradient(to bottom, #A18CD1, #FBC2EB);
        color: #FFFFFF;
        padding: 1.75rem 3.5rem;
        letter-spacing: 1.5px;
        font-weight: 600;
        font-size: .9rem;
        position: relative;
        &:after {
            @include pseudo(true);
            width: 65%;
            height: 40%;
            background-color: rgba(255, 255, 255, 0.5);
            opacity: 0;
            border-radius: 25px;
            transition: all 2s cubic-bezier(.01, .85, .10, 1);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
        }
        &:hover {
            &:after {
                width: 100%;
                height: 100%;
                opacity: .1;
            }
        }
        &:active:after {
            transition: all 3s cubic-bezier(.01, .85, .10, 1);
            border-radius: 3em;
            transform: scale(0.95);
        }
    }
    &--solaris {
        /*
         ** SOLARIS **
        */
        @include btn();
        text-transform: uppercase;
        border-radius: 10rem;
        background-color: #DB0A5B;
        color: #FFFFFF;
        font-style: italic;
        font-weight: 600;
        padding: 1.75rem 2.25rem;
        letter-spacing: 5px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
        border: 1px solid #B9235D;
        &:hover {
            text-shadow: rgba(0, 0, 0, 0.1) 1px 1px,
            rgba(0, 0, 0, 0.1) 2px 2px,
            rgba(0, 0, 0, 0.1) 3px 3px,
            rgba(0, 0, 0, 0.1) 4px 4px,
            rgba(0, 0, 0, 0.1) 5px 5px;
        }
        &:active {
            text-shadow: rgba(0, 0, 0, 0.1) 1px 1px,
            rgba(0, 0, 0, 0.1) 2px 2px,
            rgba(0, 0, 0, 0.1) 3px 3px;
        }
    }
    &--blazed {
        /*
         ** BLAZED **
        */
        @include btn();
        text-transform: uppercase;
        border: 1px solid #446CB3;
        color: #446CB3;
        background-color: transparent;
        border-radius: 2px;
        padding: 1.5rem 2.75rem;
        font-weight: 600;
        letter-spacing: 3px;
        transition: all 1.5s cubic-bezier(.01, .85, .10, 1);
        position: relative;
        &:after {
            @include pseudo(true);
            transition: all 500ms cubic-bezier(.01, .85, .10, 1);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 75%;
            height: 100%;
            background-color: #446CB3;
            opacity: 0;
            z-index: -1;
            border-radius: 2px;
        }
        &:hover {
            color: white;
            &:after {
                width: 100%;
                opacity: 1;
            }
        }
        &:active {
            box-shadow: 0 1em 1em rgba(68, 108, 179, 0.30);
            transform: translateY(-5px);
            &:after {
                transition: all 2.5s cubic-bezier(.01, .85, .10, 1);
                transform: scale(1.05)
            }
        }
    }
    &--metoxy {
        /*
         ** METOXY **
        */
        @include btn();
        text-transform: uppercase;
        background: linear-gradient(to right, #52A9FE, #00F2FE);
        color: #FFFFFF;
        border-radius: 5px;
        letter-spacing: 4px;
        font-weight: 600;
        position: relative;
        transition: all 250ms ease-in-out;
        overflow: hidden;
        transition: all 850ms cubic-bezier(.01, .85, .10, 1);
        &:after {
            @include pseudo(true);
            height: 10%;
            width: 50%;
            background: #fff;
            left: 0;
            opacity: 0;
            transition: all 1s cubic-bezier(.01, .85, .10, 1);
            z-index: 2;
        }
        &:hover {
            box-shadow: 0 15px 25px rgba(0, 242, 254, 0.60);
            text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            &:after {
                opacity: .1;
                height: 100%;
                width: 100%;
                transform: rotate(180deg);
            }
        }
        &:active {
            box-shadow: 0 5px 25px rgba(0, 242, 254, 0.60);
            &:after {
                transform: rotate(0);
            }
        }
    }
    &--krabis {
        /*
         ** KRABIS **
        */
        @include btn();
        color: #6E6E6E;
        border-radius: 25px;
        position: relative;
        background-color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        transition: all 700ms cubic-bezier(0, .96, .44, .97);
        &:after {
            transition: all 500ms cubic-bezier(0, .96, .44, .97);
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            bottom: 0;
            background: linear-gradient(to bottom, #FBC2EB, #A6C1EE);
            width: 100%;
            height: 110%;
            border-radius: 25px;
            transform: scale(1.05);
            display: block;
            z-index: -1;
        }
        &:hover {
            color: #FFFFFF;
            background-image: linear-gradient(to bottom, #FBC2EB, #A6C1EE);
            box-shadow: 1px 5px 10px rgba(0, 0, 0, .1);
            &:after {
                transform: scale(1.01);
                opacity: .9;
            }
        }
        &:active {
            box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .01);
        }
    }
    &--trammy {
        /*
         ** TRAMMY **
        */
        @include btn();
        background: linear-gradient(to top, #764BA2, #667EEA);
        color: #FFFFFF;
        border: 1px solid #764BA2;
        border-radius: 10rem;
        font-weight: 1.1rem;
        letter-spacing: 4px;
        font-weight: 400;
        padding: 1.25rem 4rem;
        text-transform: uppercase;
        transition: all 3s cubic-bezier(.01, .91, .13, 1);
        position: relative;
        span {
            z-index: 2;
            position: relative;
        }
        &:after {
            @include pseudo(true);
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #667EEA, #764BA2);
            transition: all 5s cubic-bezier(.01, .91, .13, 1);
            z-index: 1;
            border-radius: 10rem;
            opacity: .5;
        }
        &:hover {
            background-position: 100px;
            text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            &:after {
                opacity: .1;
            }
        }
        &:active {
            &:after {
                opacity: .9;
            }
        }
    }
    &--pimeo {
        /*
         ** PIMEO **
        */
        @include btn();
        background-image: -webkit-linear-gradient(bottom, #8A00DA 0%, #B739FF 99%);
        background-image: -o-linear-gradient(bottom, #8A00DA 0%, #B739FF 99%);
        background-image: linear-gradient(to top, #8A00DA 0%, #B739FF 99%);
        text-transform: uppercase;
        color: #FFFFFF;
        border-radius: 10px;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 1.2rem;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
        padding: 1rem 4rem;
        border: 1px solid #8A00DA;
        transition: all 1050ms cubic-bezier(.01, .85, .10, 1);
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 20px 25px 0 rgba(183, 56, 255, 0.50);
        }
        &:active {
            transform: translateY(5px);
            box-shadow: 0 10px 5px 0 rgba(183, 56, 255, 0.50);
        }
    }
    &--deeper {
        /*
         ** DEEPER **
        */
        @include btn();
        background-color: #5772E7;
        text-transform: uppercase;
        border: 1px solid #5772E7;
        color: #FFFFFF;
        border-radius: 10rem;
        font-weight: 600;
        letter-spacing: 4px;
        padding: 1.25rem 3.5rem;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
        position: relative;
        transition: all 200ms ease-in-out;
        span {
            position: relative;
            z-index: 2;
        }
        &:after {
            @include pseudo(true);
            transition: all 50ms cubic-bezier(0, .96, .44, 1);
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: transparent;
            z-index: 1;
            border-radius: 10rem;
            transform: scale(0.1);
            transform-origin: bottom;
            border: 1px solid transparent;
        }
        &:hover {
            box-shadow: 0 5px 15px 1px #5772E7;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
            &:after {
                background-image: linear-gradient(0deg, #4360E2 0%, #6581FF 100%);
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
                transform: scale(1.01);
                opacity: 1;
                border: 1px solid #5772E7;
            }
        }
        &:active {
            box-shadow: 0 2px 10px 1px #5772E7;
            &:after {
                opacity: .8;
            }
        }
    }

    &--jolly {
        /*
         ** JOLLY **
        */
        @include btn();
        background: linear-gradient(to bottom, #ABDCFF, #0396FF);
        text-transform: uppercase;
        border: 1px solid #2FA8FF;
        color: #FFFFFF;
        border-radius: 10em;
        padding: 1.25rem 3.25rem;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        letter-spacing: 3px;
        font-weight: 600;
        position: relative;
        overflow: hidden;
        transition: all 400ms cubic-bezier(.01, .85, .10, 1);
        span {
            position: relative;
            z-index: 3;
        }
        &:after {
            @include pseudo(true);
            height: 10em;
            width: 4em;
            background: #fff;
            left: -20em;
            transform: rotate(37deg);
            opacity: 0.3;
            transition: all 1.2s cubic-bezier(.01, .85, .10, 1);
            z-index: 2;
        }
        &:before {
            @include pseudo(true);
            z-index: 1;
            opacity: .1;
        }
        &:hover {
            &:after {
                left: 110%;
            }
            &:before {
                background-color: #0396FF;
                opacity: .2;
            }
        }
        &:active {
            &:after {
                left: 0;
                width: 2.25em;
                transform: rotate(90deg);
            }
        }
    }
    &--elasti {
        /*
         ** ELASTI **
        */
        @include btn();
        background-color: yellow;
        background: #FAB15F;
        border: 1px solid #C88334;
        border-radius: 10px;
        color: #FFFFFF;
        padding: 1.5em 3.25em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 450ms cubic-bezier(.01, .85, .10, 1);
        text-shadow: 0 0 1px rgba(0, 0, 0, .25);
        &:after {}
        &:before {}
        &:hover {
            transform: scale(1.05);
            transform-origin: bottom;
        }
        &:active {
            transform: scale(1.045, 0.9);
            transform-origin: bottom;
            box-shadow: 0 20px 25px lighten(#C88334, 45%);
        }
    }
}
